<ion-header>
  <ion-toolbar>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-grid>
      <ion-row>
    <ion-col>
       <ion-list></ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Phone</ion-label>
      <ion-input type="text" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Adress</ion-label>
      <ion-input type="text" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>City</ion-label>
      <ion-input type="text" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Country</ion-label>
      <ion-input type="text" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Zipcode</ion-label>
      <ion-input type="text" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Details</ion-label>
      <ion-input type="text" name="title"></ion-input>
    </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
      <ion-button type="submit" color="secondary" expand="block" margin (click)="onOrder()">Order Complete</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
</ion-content>