<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/my-plans"></ion-back-button>
    </ion-buttons>
    <ion-title>My Workouts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <ion-segment-button>
      Mon
    </ion-segment-button>
    <ion-segment-button>
      Tue
    </ion-segment-button>
    <ion-segment-button>
      Wed
    </ion-segment-button>
    <ion-segment-button>
      Thu
    </ion-segment-button>
    <ion-segment-button>
      Fri
    </ion-segment-button>
    <ion-segment-button>
      Sat
    </ion-segment-button>
  </ion-segment>

  <ion-row>
    <ion-col id="list">
      <ion-list>
        <ion-item  color="tertiary" detail>
          <ion-thumbnail slot="start"> 
            <ion-img></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>Back Exercise</h2>
            <p>3 sets | 10 reps</p>
          </ion-label>
        </ion-item>
        <ion-item  color="tertiary" detail>
          <ion-thumbnail slot="start"> 
            <ion-img></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>Chest Exercise</h2>
            <p>2 sets | 15 reps</p>
          </ion-label>
        </ion-item>
        <ion-item  color="tertiary" detail>
          <ion-thumbnail slot="start"> 
            <ion-img></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>Legs Exercise</h2>
            <p>3 sets | 15 reps</p>
          </ion-label>
        </ion-item>
        <ion-item  color="tertiary" detail>
          <ion-thumbnail slot="start"> 
            <ion-img></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>Biceps Exercise</h2>
            <p>3 sets | 10 reps</p>
          </ion-label>
        </ion-item>
        <ion-item  color="tertiary" detail>
          <ion-thumbnail slot="start"> 
            <ion-img></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>Triceps Exercise</h2>
            <p>3 sets | 10 reps</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col id="feedback">
      <ion-list>
        <ion-item>
          <ion-textarea placeholder="Enter more information here..."></ion-textarea>
        </ion-item>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button color="secondary" expand="block" [routerLink]="['/', 'my-plans']">Workout Complete</ion-button>
    </ion-col>
    </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
