<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/my-plans"></ion-back-button>
    </ion-buttons>
    <ion-title>My Meals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <ion-segment-button>
      Mon
    </ion-segment-button>
    <ion-segment-button>
      Tue
    </ion-segment-button>
    <ion-segment-button>
      Wed
    </ion-segment-button>
    <ion-segment-button>
      Thu
    </ion-segment-button>
    <ion-segment-button>
      Fri
    </ion-segment-button>
    <ion-segment-button>
      Sat
    </ion-segment-button>
  </ion-segment>

  <ion-row>
    <ion-col id="list">
      <ion-list>
        <ion-item  color="tertiary" detail>
          <ion-label>
            <h2>Breakfast</h2>
            <p>Rhubarb and leek bread</p>
          </ion-label>
        </ion-item>
        <ion-item  color="tertiary" detail>
          <ion-label>
            <h2>Snack</h2>
            <p>Olive and pumpkin bread</p>
          </ion-label>
        </ion-item>
        <ion-item  color="tertiary" detail>
          <ion-label>
            <h2>Lunch</h2>
            <p>Salmon and bacon penne</p>
          </ion-label>
        </ion-item>
        <ion-item  color="tertiary" detail>
          <ion-label>
            <h2>Snack</h2>
            <p>Chickpea and avocado fusilli</p>
          </ion-label>
        </ion-item>
        <ion-item  color="tertiary" detail>
          <ion-label>
            <h2>Dinner</h2>
            <p>Cocoa and chilli cake/p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
